*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-primary;
  font-size: 50%;
  font-weight: 300;
  line-height: 1.6;
  color: $color-primary;

  @include respond($m) {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 
    [sidebar-top] 6rem
    [sidebar-bottom header-top] calc(100vh - 6rem)
    [header-bottom realtors-top] min-content
    [realtors-bottom features-top] min-content
    [features-bottom story-content-top] min-content 
    [story-content-bottom story-pictures-top] 60vw 
    [story-pictures-bottom homes-top] repeat(3, min-content)
    [footer-bottom];
  grid-template-columns: 
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) 
    [center-end] minmax(6rem, 1fr)
    [full-end];

  @include respond($xs) {
    grid-template-rows: 
      [sidebar-top] 6rem
      [sidebar-bottom header-top] 80vh
      [header-bottom features-top] min-content
      [features-bottom story-content-top] min-content 
      [story-content-bottom story-pictures-top] 60vw
      [story-pictures-bottom homes-top] repeat(3, min-content)
      [footer-bottom];
  }

  @include respond($s) {
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: 
    [sidebar-start] 8rem 
    [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) 
    [center-end] minmax(6rem, 1fr)
    [full-end];
  }
}