.header {
  grid-column: full-start / full-end;
  padding: 4rem 6vw 8rem;
  background-image: linear-gradient(
    to right,
    rgba($color-secondary, .9),
    rgba($color-secondary, .9),
  ), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template: 1fr min-content 6rem 1fr / minmax(min-content, max-content);
  grid-gap: 2rem;
  justify-items: start;
  align-items: center;

  @include respond($xs) {
    grid-column: full-start / col-end 6;
  }

  &__logo-box {
    justify-self: center;
    align-self: start;
    line-height: 0;
  }

  &__logo {
    height: 3rem;
  }

  &__heading-sub {
    align-self: end;
  }

  &__seenon-text {
    grid-column: 1 / -1;
    justify-self: stretch;
    font-size: 1.6rem;
    color: $color-grey-light-2;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 1.5rem;
    align-items: center;

    &::before,
    &::after {
      content: '';
      border-top: 1px solid currentColor;
    }
  }

  &__websites {
    justify-self: stretch;
    // opacity: .7;
    filter: brightness(70%);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
  }

  &__website-logo {
    max-height: 2.5rem;
    max-width: 100%;
  }
}