.realtors {
  grid-column: full-start / full-end;
  padding: 5vw 2rem;
  background-color: $color-secondary;

  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  justify-content: center;
  align-content: center;
  
  @include respond($xs) {
    grid-column: col-start 7 / full-end;
  }

  &__heading {
    display: block;

    @include respond($xxs) {
      display: none;
    }

    @include respond($xs) {
      display: block;
      grid-column: 1 / -1;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-gap: 5vh 2rem;
    align-items: center;

    @include respond($xxs) {
      grid-template-columns: repeat(3, min-content max-content);
    }    

    @include respond($xs) {
      grid-template-columns: min-content max-content;
    }
  }

  &__photo {
    width: 7rem;
    border-radius: 50%;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
  }
}